{% extends "template-default.njk" %}

{% block content %}

<main>
  <h2>Examples</h2>
  <ul>
    <li><a href="./example-sidebar-right.html">Sidebar right</a></li>
    <li><a href="./example-sidebar-left.html">Sidebar left</a></li>
    <li><a href="./example-default.html">No sidebar</a></li>
  </ul>
</main>

{% endblock %}
