{% extends "template-default.njk" %}

{% block content %}

<main>
  <h2>Examples</h2>
  <ul>
    <li><a href="./example-default.html">Default</a></li>
    <li><a href="./example-sidebar-right.html">Sidebar right</a></li>
    <li><a href="./example-sidebar-left.html">Sidebar left</a></li>
    <li><a href="./example-marketing.html">Marketing page</a></li>
  </ul>
  <h2>Playground</h2>
  <p>Open demos in <a href="https://thimble.mozilla.org/">Mozilla Thimble</a> playground:</p>
  <ul>
    <li><a target="_blank" href="https://thimbleprojects.org/heyallan/526955/">Default</a></li>
    <li><a target="_blank" href="https://thimbleprojects.org/heyallan/526957/">Sidebar right</a></li>
    <li><a target="_blank" href="https://thimbleprojects.org/heyallan/526958/">Sidebar left</a></li>
    <li><a target="_blank" href="https://thimbleprojects.org/heyallan/526960/">Marketing page</a></li>
  </ul>
</main>

{% endblock %}
