{% extends "base.njk" %}

{% block content %}

  {% include "header.njk" %}

  <header>
    <h1>Header</h1>
    <p>The HTML (header) element represents a group of introductory or navigational aids. It may contain some heading elements but also other elements like a logo, wrapped section's header, a search form, and so on.</p>
  </header>
  <main role="main">
    <article role="article">
      <h1>Article</h1>
      <nav>
    <p>The article element represents a section of content that forms an independent part of a document or site; for example, a magazine or newspaper article, or a blog entry. The article element is a good choice to contain entire blog posts, news articles, and similar content.</p>
      <p>This is the outline of the current layout:</p>
<figure><pre><code>&lt;body&gt;
  &lt;header&gt;
  &lt;main&gt;
  &lt;footer&gt;
&lt;/body&gt;</code></pre></figure>
    </article>
  </main>
  <footer>
    <h1>Footer</h1>
    <p>The HTML (footer) element represents a footer for its nearest sectioning content or sectioning root element. A footer typically contains information about the author of the section, copyright data or links to related documents.</p>
  </footer>

{% endblock %}
