{% extends "base.njk" %}

{% block content %}

  {% include "header.njk" %}

  <article>
    <section>
      <h2>Single column</h2>
      <p><strong>Demo:</strong> <a href="./layout-single-column.html">Single column example</a></p>
      <p>A single column layout is default, it works out of the box, no setup, no configuration.</p>
    </section>
    <section>
      <h2>Double column</h2>
      <p><strong>Demo:</strong> <a href="./layout-double-column.html">Double column example</a></p>
      <p><strong>Required:</strong> 1 Container (<code>&lt;body&gt;</code>) > 1 sidebar (<code>&lt;aside&gt;</code>)</p>
      <p><strong>Example:</strong></p>
<pre><code>body                                          body
+----------------------------+                +----------------------------+
|  +----------------------+  |                |  +----------------------+  |
|  | header               |  |                |  | header               |  |
|  +----------------------+  |                |  +----------------------+  |
|  | main                 |  |                |  |              |       |  |
|  +----------------------+  |  --becomes-->  |  |              |       |  |
|  | aside                |  |                |  | main         | aside |  |
|  +----------------------+  |                |  |              |       |  |
|  | footer               |  |                |  |              |       |  |
|  +----------------------+  |                |  +----------------------+  |
+----------------------------+                |  | footer               |  |
                                              |  +----------------------+  |
                                              +----------------------------+</code></pre>
    </section>
    <section>
      <h2>Rationale</h2>
      <p>If container (<code>&lt;body&gt;</code>) has a sidebar (<code>&lt;aside&gt;</code>) the layout will work automagically.</p>
      <p>The order of elements does not matter. Neither additional elements.</p>
      <p>Elements align using <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout">flexbox properties</a> instead of <a href="https://developer.mozilla.org/en/docs/Web/CSS/Adjacent_sibling_selectors">adjacent sibling selectors</a>. Flexbox allows elements to align in a pseudo-dynamic fashion as opposed to sibling selectors which are rigid by nature.</p>
      <p>As seen on the example <code>&lt;header&gt;</code> and <code>&lt;footer&gt;</code> (or any other) are irrelevant, <strong>they don't affect the layout</strong>.</p>
    </section>
    <section>
      <h2>Fallback</h2>
      <p>A single column will be rendered if the <code>&lt;aside&gt;</code> is not a direct descendant of the container, or if there is no <code>&lt;aside&gt;</code> in the document.</p>
    </section>
  </article>

{% endblock %}
