{% extends "template-default.njk" %}

{% block content %}

<main>
  <section>
    <h2>One column (Default)</h2>
    <p>Render one-column layout if the following elements exist <code>body>(any)</code></p>
<pre><code>&lt;body&gt;
  &lt;main&gt;
&lt;/body&gt;</code></pre>
  </section>
  <section>
    <h2>Two column (Optional)</h2>
    <p>Render two-column layout if the following elements exist <code>body>(main+aside)</code></p>
<pre><code>&lt;body&gt;
  &lt;main&gt;
  &lt;aside&gt;
&lt;/body&gt;</code></pre>
  </section>
  <section>
    <h2>About adjacent elements</h2>
    <p>Adjacent elements are not expected to affect the layout <code>body>(any)+(main+aside)+(any)</code> </p>
<pre><code>&lt;body&gt;
  ...
  &lt;main&gt;
  &lt;aside&gt;
  ...
&lt;/body&gt;</code></pre>
  </section>
  <section>
    <h2>Note</h2>
    <p>For consistency <strong>always</strong> group <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Inline_text_semantics">inline and text elements</a> under <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Content_sectioning">block sectioning elements</a>. Do not place inline elements directly under <code>body</code>.</p>
    <p><strong>NO</strong> <code>body>p+p+p</code></p>
    <p><strong>YES</strong> <code>body>(header>p)+(main>p)+(footer>p)</code></p>
    <p><strong>YES</strong> <code>body>(section>p)+(section>p)+(section>p)</code></p>
  </section>
</main>

{% endblock %}
