{% extends "template-default.njk" %}

{% block content %}
<main>
  <section>
    <h2>One column</h2>
    <p>Render one column</p>
<pre><code>&lt;body&gt;
  &lt;main&gt;
&lt;/body&gt;</code></pre>
  </section>
  <section>
    <h2>Two column</h2>
    <p>Render two columns</p>
<pre><code>&lt;body&gt;
  &lt;main&gt;
  &lt;aside&gt;
&lt;/body&gt;</code></pre>
  </section>
  <section>
    <h2>Adjacent elements</h2>
    <p>Render two columns with adjacent elements</p>
<pre><code>&lt;body&gt;
  ...
  &lt;main&gt;
  &lt;aside&gt;
  ...
&lt;/body&gt;</code></pre>
  </section>
  <section>
    <h2>Caveats</h2>
    <ul>
      <li>Immediate children of body must be block level elements</li>
    </ul>
  </section>
</main>

{% endblock %}
