<nav role="navigation">
  <a href="./examples.html">Menu</a>
  ·
  <a href="./example-default.html">Default</a>
  ·
  <a href="./example-sidebar-right.html">Sidebar right</a>
  ·
  <a href="./example-sidebar-left.html">Sidebar left</a>
  ·
  <a href="./example-marketing.html">Marketing page</a>
</nav>
<hr>
