<nav role="navigation">
  {% if navWrapper %}<{{ navWrapper }}>{% endif %}
    <a href="{{ baseURL }}/examples/">Back to home</a>
    &nbsp;|&nbsp;
    <a href="#!">One</a>
    ·
    <a href="#!">Two</a>
    ·
    <a href="#!">Three</a>
    ·
    <a href="#!">Four</a>
    ·
    <a href="#!">Five</a>
    ·
    <a href="#!">Six</a>
    ·
    <a href="#!">Seven</a>
  {% if navWrapper %}</{{ navWrapper }}>{% endif %}
</nav>
