<head>
  <meta charset="utf-8">
  <title>{{ package.name }} - {{ package.description }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="reset.min.css"/>
  <link rel="stylesheet" href="properties.min.css"/>
  <link rel="stylesheet" href="./{{ package.keyword }}.min.css"/>
</head>
