<!doctype html>
<html lang="en-US" dir="ltr">
  {% include "head.njk" %}
  <body>
  <body>

    {% include "nav-example.njk" %}

    {% block content %}
      {# content will be injected here #}
    {% endblock %}

  </body>
</html>
