<!doctype html>
<html lang="en-US" dir="ltr">
  {% include "head.njk" %}
  <body>

    <header>
      <h1>@{{ package.name }} <span class="color-primary">v{{ package.version }}</span></h1>
      {% include "nav-default.njk" %}
    </header>

    {% block content %}
      {# content will be injected here #}
    {% endblock %}

    <footer>
      <hr>
      <center>
        This library is part of
        <nav>
          <a href="https://www.github.com/heyallan/hyper-reset-css">@hyper-reset-css</a>
          ·
          <a href="https://www.github.com/heyallan/hyper-layout-css">@hyper-layout-css</a>
          ·
          <a href="https://www.github.com/heyallan/hyper-grid-css">@hyper-grid-css</a>
          ·
          <a href="https://www.github.com/heyallan/hyper-properties-css">@hyper-properties-css</a>
        </nav>
      </center>
    </footer>

  </body>
</html>
