body {
  // positioning
  margin-right: auto;
  margin-left: auto;
  padding: 2rem 1rem 3rem;
  max-width: @container-width;

  // flexbox container
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; // wrap children when shrinked beyond min-width
  align-items: stretch; // stretch children full height
  justify-content: center; // center children horizontally
  * { min-width: 0; } // $fix: make descendents of flex items respect overflow property (specially `pre`)

  // flexbox items
  > * {
    padding-right: @column-padding;
    padding-left: @column-padding;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% ~"-" (@column-padding * 2)); // $fix: substract padding
    max-width: 100%;
  }

  > main {
    flex-basis: calc(@column-basis-width ~"-" (@column-padding * 2)); // $fix: substract padding width for IE11
    min-width: calc(@column-basis-width ~"-" 5%); // wrap column if it shrinks more than 5% of its width
  }

  > aside {
    flex-basis: calc(@sidebar-basis-width ~"-" (@column-padding * 2)); // $fix: substract padding width for IE11
    min-width: calc(@sidebar-basis-width-px ~"-" 5%); // wrap column if it shrinks more than 5% of its width
  }

  > nav:first-child  {
    margin-top: -@container-padding-y;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-gray);
    min-width: 0;
    overflow-x: scroll;
    white-space: nowrap;
  }
}

// $fix: substract padding
// because IE11 counts padding as part of the element width
