// reset
body>address,body>article,body>aside,body>blockquote,body>dd,body>div,body>dl,body>figure,body>footer,body>form,body>h1,body>h2,body>h3,body>h4,body>h5,body>h6,body>header,body>hgroup,body>hr,body>main,body>nav,body>ol,body>output,body>p,body>pre,body>section,body>table,body>tfoot,body>ul,body>video {
  flex-basis: auto;
  width: 100%;
}
body {
  // positioning
  margin-right: auto;
  margin-left: auto;
  padding: var(--body-padding-y) var(--body-padding-x);
  max-width: var(--body-width);
  // flexbox container
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; // break row when shrinked
  align-items: baseline; // keep natural align baseline
}
main,
aside {
  flex-grow: 1;
  flex-shrink: 0;
}
@media all and (min-width: 700px) {
  aside + main,
  main + aside { padding-left: 1rem; }
  main  { width: var(--content-width-md); }
  aside { width: var(--sidebar-width-md); }
}
@media all and (min-width: 900px) {
  main  { width: var(--content-width-lg); }
  aside { width: var(--sidebar-width-lg); }
}
