{% extends "template-example.njk" %}

{% block content %}

<main>
  <p><br/><br/></p>
  <header>
    <center>
      <h1>Custom Landing Page</h1>
      <p><b><mark>{{ package.description }}</mark></b></p>
      <a href="#!"><button type="button" name="button">Download</button></a>
      <a href="#!"><button type="button" name="button">GitHub</button></a>
    </center>
  </header>
  <p><br/><br/></p>
  <hr>
  <section>
    <p>The HTML <code>p</code> element represents a paragraph of text. Paragraphs are usually represented in visual media as blocks of text that are separated from adjacent blocks by vertical blank space and/or first-line indentation. Paragraphs are block-level elements.</p>
  </section>
</main>
<footer>
  <center>
    <p><b>Subscribe</b></p>
    <p>
      <input id="inline-input-email" type="text" placeholder="Email field">
      <button type="submit">Button Now</button>
    </p>
  </center>
</footer>

{% endblock %}
