{% extends "template-default.njk" %}

{% block content %}

<main>
  <h2>Examples</h2>
  <ul>
    <li><a href="{{ baseURL }}/examples/single-column">Single column - no sidebar</a></li>
    <li><a href="{{ baseURL }}/examples/column-right">Double column - sidebar right</a></li>
    <li><a href="{{ baseURL }}/examples/column-left">Double column - sidebar left</a></li>
    <li><a href="{{ baseURL }}/examples/marketing-page">Marketing page</a></li>
  </ul>
</main>

{% endblock %}
