{% extends "template-default.njk" %}

{% block content %}

<main>
  <h2>Examples</h2>
  <ul>
    <li><a href="{{ baseURL }}/examples/single-column">Single column</a></li>
    <li><a href="{{ baseURL }}/examples/double-column">Double column</a></li>
    <li><a href="{{ baseURL }}/examples/docs-page">Documentation page</a></li>
    <li><a href="{{ baseURL }}/examples/marketing-page">Marketing page</a></li>
  </ul>
</main>

{% endblock %}
