:root {
  --gap: 1rem;
  --main-width: 70%;
  --aside-width: 30%;
  --body-max-width: 960px;
}

body {
  margin: 4rem auto;
  padding: 0 2rem;
  max-width: var(--body-max-width);
  align-content: flex-start;
}

@media (min-width: 850px) {
  body {
    display: flex;
    flex-flow: row wrap;
  }
  body > * {
    flex: 1 1 100%;
    min-width: 0;
  }
  main {
    flex-basis: calc(var(--main-width));
  }
  body > aside {
    flex-basis: calc(var(--aside-width));
  }
  body > aside + main,
  body > main + aside { padding-left: var(--gap); }
}
