:root {
  --body-width: 960px;
  --main-width: 70%;
  --aside-width: 30%;
  --gap: 1rem;
}

body {
  margin: 4rem auto;
  padding: 0 2rem;
  max-width: var(--body-width);
}

@media (min-width: 850px) {
  /* flex container */
  body {
    display: flex;
    flex-flow: row wrap; /* flex-direction: row & flex-wrap: wrap; */
    gap: 0 var(--gap);
    align-content: flex-start;
  }
  /* generic descentants */
  body > * {
    flex: 1 1 100%; /* grow shrink basis */
    min-width: 0;
  }
  /* columns */
  body > main {
    flex-basis: calc(var(--main-width) - var(--gap));
  }
  body > aside {
    flex-basis: calc(var(--aside-width) - var(--gap));
  }
}
